.DS_Store

# Any temporary
**/.tmp

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
/.idea/

# Prometheus rules and Grafana dashboards
prometheus/rule_configs/*-rules.yaml
grafana/provisioning/dashboards/*/

# YACE config substitution file
yace/config/newconfig.yml

# Alertmanager config substitution file
alertmanager/config/newconfig.yaml

# Prometheus client app config
prometheus/file_sd_configs/client_application_targets.json

# Global Environment Variable file
global.env